@model IEnumerable<NewCoreProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <h1 class="user-name" style="text-align:center">Product</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="container-fluid" style="overflow:auto;max-height:300px;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_SalePrice)
            </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Product_Picture))
                            {
                                <img src="@Url.Content(item.Product_Picture)" style="width: 100px; height: 100px;" />
                            }
                            else
                            {
                                <span>No Image</span>
                            }
                        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category_Name)
            </td>
                        <td class="gap-1" style="display:flex">
                            <a asp-action="Edit" asp-route-id="@item.Product_Id" class="btn btn-success"title="Edit"><i class="fa fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Product_Id" class="btn btn-info" title="Details"><i class="fa fa-file-alt"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Product_Id" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>